.DS_Store
phpcs.xml
phpunit.xml
Thumbs.db
wp-cli.local.yml
node_modules/
*.sql
*.tar.gz
*.zip

# local config
.nvimrc
.php-cs-fixer.cache
.idea
.vscode
.wp-env.json

# build
plugin.bundle.*
addon.bundle.*

# composer
vendor
addons/enabled/*
.store
