[submodule "abstracts"]
	path = abstracts
	url = ../wpct-plugin-abstracts.git
[submodule "http-bridge"]
	path = wpct-http-bridge
	url = ../wpct-http-bridge.git
[submodule "i18n"]
	path = wpct-i18n
	url = ../wpct-i18n.git
