name: Tests

on:
  pull_request:
    branches: [main]

  workflow_call:

jobs:
  lint:
    name: WordPress Coding Standards
    runs-on: ubuntu-latest
    container:
      image: codeccoop/wp-test
    steps:
      - uses: actions/checkout@v5

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Composer install
        run: composer -q install

      - name: Lint and format
        run: vendor/bin/phpcbf

  phpunit:
    name: PHP Unit Testing
    runs-on: ubuntu-latest
    container:
      image: codeccoop/wp-test
    steps:
      - name: Start MariaDB
        run: nohup docker-entrypoint.sh mariadbd 2>&1 >/dev/null &

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Cache composer dependencies
        uses: actions/cache@v4
        with:
          path: vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Cache test plugins
        uses: actions/cache@v4
        with:
          path: /tmp/*.zip
          key: ${{ runner.os }}-test-plugins-${{ hashFiles('bin/download-test-deps.sh') }}
          restore-keys: |
            ${{ runner.os }}-test-plugins-

      - name: Composer install
        run: composer -q install

      - name: Wait for MariaDB
        run: sleep 10

      - name: Executable mode
        run: chmod a+x bin/*

      - name: Install tests suite
        run: bin/install-wp-tests.sh

      - name: Download deps
        run: bin/download-test-deps.sh

      - name: Unit testing
        run: vendor/bin/phpunit -c phpunit.xml.dist
